$color-black: rgba(32, 32, 32, 1);
$color-orange: rgba(255, 110, 48, 1);
$color-orange-dark: rgba(188, 87, 43, 1);
$color-orange-red: rgba(206, 67, 7, 1);
$color-grey: rgba(202, 202, 202, 1);
$color-grey-light: rgba(153, 153, 153, 1);
$color-grey-input: rgba(74, 74, 74, 1);
$color-grey-input-2: rgba(233, 233, 233, 1);
$color-beige: rgba(255, 212, 193, 1);

$containerMaxWidth: 1290px;
$duration: .25s;

$padding-320: 21px;
